.ipynb_checkpoints
__pycache__/
*.pdf

CU-Boulder/NeuralNetworks/mrkdwn/Module3/other_extra/GLOVE/
CU-Boulder/NeuralNetworks/HW/hw3/omni_df.csv
CU-Boulder/DataMining/Assignments/*/*.csv

!CU-Boulder/AstroPhys/HW/*/*.pdf